<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="titSharePointSSOMServices" type="TITcs.SharePoint.SSOM.Services.SharePointServiceSection" />
  </configSections>

 <titSharePointSSOMServices>
    <services>
      <service assemblyName="PGC.SharePoint.MelhoresPraticas, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9553f3d4b8592cc4" />
      <service assemblyName="Conecte.SharePoint.CentralArquivos, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9c5548af4617dad7" />
      <!-- REMOVER -->
      <service assemblyName="PGC.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=67b7b4f910f1bafe" />
    </services>
  </titSharePointSSOMServices>

  <appSettings>
    <add key="Message" value="Hello World!"/>
  </appSettings>
</configuration>