<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <configSections>
    <sectionGroup name="sharePointService">
      <section name="service" type="TITcs.SharePoint.SSOM.Services.SharePointServiceSection" />
    </sectionGroup>
  </configSections>

  <!-- CONECTE -->
  <sharePointService>
    <service assemblyName="TITcs.SharePoint.SSOM.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <!--<service assemblyName="PGC.SharePoint.MelhoresPraticas, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9553f3d4b8592cc4" />-->
  </sharePointService>

  <appSettings>
    <add key="Message" value="Hello World!"/>
  </appSettings>
</configuration>